In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
ast="ffnt"

In [ ]:
# I had to rename this file to take out spaces
# see instructions in sword.org > BCIT > uploading grades to D2L learning hub
# fname="MATH-2511Lecture_GradesExport_2023-03-06-22-43"
fname="MATH-4620Lecture_GradesExport_2023-04-24-19-53"

In [ ]:
students=pd.read_csv("./inputcsv/lukm_students.csv")

In [ ]:
# relstuds=students[students['course'] == course]

In [ ]:
marks=pd.read_csv("./inputcsv/lukm_marks.csv")

In [ ]:
marksF= marks[marks['ast'] == ast]

In [ ]:
canvasExport=pd.read_csv(f"./inputcsv/{fname}.csv")

In [ ]:
canvasExport['sno'] = canvasExport['OrgDefinedId'].str.slice(1)

In [ ]:
marksFstr = marksF.copy()
marksFstr['sdc'] = marksF['sdc'].astype(str)
studentsstr = students.copy()
studentsstr['sdc'] = students['sdc'].astype(str)

In [ ]:
merged=pd.merge(marksFstr,studentsstr, how='inner', on='sdc')

In [ ]:
a2 = pd.merge(canvasExport, merged, how='inner', on='sno')

In [ ]:
pd.set_option('display.max_rows', 6)
a2

,OrgDefinedId,Final Exam Points Grade <Numeric MaxPoints:100 Weight:31>,End-of-Line Indicator,sno,ast,sdc,mark,course,password,ln,fn
0,#A00746035,NaN,#,A00746035,ffnt,983878,56.7,233,S37X,Linforth,Braedon
1,#A00913638,NaN,#,A00913638,ffnt,490422,43.3,233,L76J,Sarabia,Federico
2,#A00940835,NaN,#,A00940835,ffnt,892714,35.0,233,N61E,Lin,Derek
...,...,...,...,...,...,...,...,...,...,...,...
26,#A01282057,NaN,#,A01282057,ffnt,342173,55.0,233,M74D,Arnold,Spencer
27,#A01295865,NaN,#,A01295865,ffnt,231823,55.0,233,N85U,Chau,Hieu (Johnathan)
28,#A01298718,NaN,#,A01298718,ffnt,586136,93.3,233,E47C,Reid,Bryce

In [ ]:
# this needs to be adjusted especially the weight
a2['Final Exam Points Grade <Numeric MaxPoints:100 Weight:31>'] = a2['mark']

In [ ]:
a2.drop(['ast','sdc','mark','course','sno','password','ln','fn'], axis=1, inplace=True)

In [ ]:
a2.to_csv(f"./outputcsv/LearningHub-{ast}.csv", index = False, header = True)

In [ ]:
# this should only have three columns, like
# #A00224368 	22.2 	#
a2

,OrgDefinedId,Final Exam Points Grade <Numeric MaxPoints:100 Weight:31>,End-of-Line Indicator
0,#A00746035,56.7,#
1,#A00913638,43.3,#
2,#A00940835,35.0,#
...,...,...,...
26,#A01282057,55.0,#
27,#A01295865,55.0,#
28,#A01298718,93.3,#